.top-left {
    left: 0;
    width: 50vw; /* 50% del ancho de la pantalla */
    background-color: #3d3e41;
}
.top-right {
    right: 0;
    width: 50vw; /* 50% del ancho de la pantalla */
    background-color: #3d3e41;
}

.top {
    background-color: #3d3e41;
    color: white;
    padding: 10px 15px;
    font-weight: bold;
}
.info {
    padding: 10px 15px;
    color: white;
}